<div class="relative z-2 hidden lg:block">
	<div class="svg-right-parallax absolute max-w-1/6 bottom-0 -mb-56 right-0">
		<img class="w-64 max-w-full h-auto" src="{{ theme.path }}/assets/images/seaweed-right.png" alt="Background seaweed graphic.">
	</div>
</div>
