/* Subscription Form In Footer */
#subscription-form {
  .gform_wrapper {
    @apply flex flex-col gap-2 w-full md:w-auto border;
    border-color: #3d438c;
    border-radius: 5px;

    &.gravity-theme .gform_footer {
      @apply py-0 m-0;

      .btn-submit {
        @apply bg-primary text-white border-primary mb-0;
        @apply after:bg-[url('../images/arrow-right.svg')];

        &:after {
          width: 25px;
          height: 25px;
        }
      }
    }
  }

  .gform_heading {
    @apply text-white md:text-lg sm:text-center md:text-left;
  }

  form {
    @apply flex flex-col justify-center sm:flex-row sm:items-center gap-4 w-full md:w-auto;

    input[type="email"] {
      @apply placeholder:text-white/60 text-white rounded-sm;
      @apply bg-transparent border-r-1 py-3 px-6 lg:min-w-87;
      border-color: #3d438c;
    }
  }
}

/* Booking Form Styles */
.is-style-booking-wrapper {
  .gform_wrapper.gravity-theme,
  .gform_confirmation_wrapper {
    @apply relative mb-12 sm:mb-16 rounded-2xl;
    @apply px-4 py-8 sm:px-8 sm:py-12 lg:px-16 lg:py-20 xl:px-20 xl:py-24;
    @apply bg-dark-blue/80 text-white backdrop-blur-sm max-w-7xl mx-auto;

    /* Gravity Form Heading */
    .gform_heading {
      @apply mb-12 md:mb-16 xl:mb-24;

      h2.gform_title {
        @apply h2 text-center text-white;
      }

      .gform_required_legend {
        @apply hidden;
      }
    }

    /* Steps */
    .gf_page_steps {
      @apply border-b-0 mb-8 sm:mb-12 lg:mb-24;
      @apply flex items-center justify-between gap-4;

      .gf_step {
        @apply hidden items-center gap-4 mr-0;
        @apply not-last:grow lg:flex;
        @apply lg:after:grow lg:after:bg-white lg:after:h-px;

        .gf_step_label {
          @apply p-0 font-medium lg:text-lg xl:text-xl;
        }

        .gf_step_number {
          @apply text-lg size-8 before:size-8;
          @apply text-white bg-gray-700 border-gray-700;
        }

        &.gf_step_active {
          @apply flex;

          .gf_step_number {
            @apply text-dark-blue bg-light-blue border-light-blue;
          }
        }

        &.gf_step_completed {
          .gf_step_number {
            @apply before:bg-light-blue before:border-light-blue;

            /* Taildind resets the content property, doing it manually. */
            &:after {
              @apply text-dark-blue text-4xl;
            }
          }
        }
      }
    }

    /* Body */
    .gform_body {
      .gfield_label {
        @apply mb-3 text-lg md:text-xl xl:text-2xl;
      }

      .gform_fields {
        @apply gap-y-8;
      }

      .ginput_container {
        input[type="color"],
        input[type="date"],
        input[type="datetime-local"],
        input[type="datetime"],
        input[type="email"],
        input[type="month"],
        input[type="number"],
        input[type="password"],
        input[type="search"],
        input[type="tel"],
        input[type="text"],
        input[type="time"],
        input[type="url"],
        input[type="week"],
        select,
        textarea {
          @apply px-4 py-3 focus:outline-0;
          @apply font-bold lg:text-lg;
          @apply bg-dark-blue border-light-blue;
          @apply border rounded-md;
        }
      }
    }

    /* Footer */
    .gform_page_footer {
      @apply flex items-center justify-between mt-6;

      .button {
        @apply btn btn-primary;
      }

      .gform_previous_button {
        @apply order-1;
      }

      .gform_next_button {
        @apply order-3;
      }

      span {
        @apply order-2;
      }

      .btn-submit {
        @apply order-3 hover:bg-secondary;
      }
    }

    /* Booking Calendar Styles */
    .rdp-root {
      @apply flex justify-center bg-dark-blue p-4 rounded-2xl;
    }

    .rdp-nav {
      @apply hidden;
    }

    .rdp-months {
      @apply w-full max-w-full;
    }

    .rdp-month,
    .rdp-month_grid {
      @apply w-full;
    }

    .rdp-day_button {
      @apply mx-auto;
    }

    .rdp-month_caption {
      @apply justify-center;
    }

    .rdp-dropdowns {
      @apply gap-3;
    }

    .rdp-caption_label {
      @apply gap-2 text-base lg:text-lg;

      .rdp-chevron {
        @apply fill-light-blue;
      }
    }

    .rdp-day {
      &.rdp-today {
        .rdp-day_button {
          @apply text-red;
        }
      }

      &.rdp-selected {
        .rdp-day_button {
          @apply bg-red border-red text-white;
        }
      }
    }

    .gpb-timezone-indicator {
      @apply text-sm md:text-base mt-6 text-center;
    }

    .gpb-booking-time-picker {
      @apply max-w-full w-full;
    }

    .gpb-booking-time-picker__back,
    .gpb-booking-time-picker__duration {
      @apply text-red;
    }

    .gpb-booking-time-picker__slot {
      @apply bg-transparent hover:bg-red hover:border-red;

      &.gpb-booking-time-picker__slot--selected {
        @apply bg-red border-red;
      }

      &.gpb-booking-time-picker__slot--unavailable {
        @apply bg-med-blue border-med-blue text-white/50;
      }
    }
  }

  .gform_confirmation_message {
    @apply grid grid-cols-1 md:grid-cols-2 xl:grid-cols-12 gap-6 md:gap-12;

    .confirmation-left {
      @apply xl:col-span-7;
    }

    .confirmation-right {
      @apply xl:col-span-5;
    }

    .success-msg {
      h2 {
        @apply h2 mb-2;
      }
    }

    .success-legend {
      @apply border-t border-med-blue mt-6 pt-6 md:mt-10 md:pt-10;
      @apply flex items-baseline justify-between gap-6;

      .legend-msg {
        @apply h4;
      }

      a {
        @apply flex gap-4 items-center text-base;
      }
    }
  }
}

/* Booking Companion */
#booking-companion {
  @apply bg-med-blue rounded-2xl;
  @apply px-4 sm:px-6 lg:px-8 py-6 sm:py-8 lg:py-10;

  #booking-heading {
    @apply h3 mb-4;
  }

  #booking-rows {
    @apply flex flex-col divide-y divide-white/50 border-y border-white/50;

    .booking-row {
      @apply py-4;

      .booking-label {
        @apply h5 mb-2;
      }
    }
  }
}
