header {
  transform: all.5s;
}

header.scrolled {
  background-color: #030119;
}

/* General Menu Styles */
.menu-theme {
  .menu-item {
    @apply text-white;

    a {
      @apply transition-colors duration-300 border-b-2 border-transparent;
    }

    .submenu {
      @apply xl:-mt-4;
    }

    &.current-menu-item {
      a {
        @apply xl:border-white;
      }

      ul a {
        @apply border-transparent;
      }
    }
  }

  .is-right {
    .submenu {
      @apply xl:right-56;
    }

    .txt {
      @apply xl:order-2;
    }

    .icn {
      @apply xl:order-1;
    }
  }

  .is-left {
    .submenu {
      @apply xl:left-56;
    }
  }
}

/* Primary Menu */
.menu-theme--primary {
  .menu-item {
    @apply text-white;
    font-family: var(--font-body-bold);

    a {
      @apply xl:border-transparent hover:xl:border-red;
    }

    &.current-menu-item > a,
    &.current-page-ancestor > a {
      @apply font-extrabold text-light-blue xl:text-white xl:border-secondary;
    }

    ul {
      @apply xl:bg-dark-blue xl:border-x xl:border-y-2 xl:border-primary xl:rounded-2xl;

      a {
        @apply text-white hover:text-light-blue hover:border-transparent;
      }

      .current-menu-item a {
        @apply border-transparent text-light-blue;
      }
    }

    &.current-menu-item .current-menu-item > a {
      @apply text-white hover:text-light-blue;
    }
  }
}

/* Secondary Menu */
.menu-theme--secondary {
  @apply bg-secondary;

  .menu-item {
    a {
      @apply xl:border-transparent hover:xl:border-primary;
    }

    &.current-menu-item > a,
    &.current-page-ancestor > a {
      @apply xl:border-primary;
      font-weight: 800;
    }

    ul {
      @apply xl:bg-primary xl:border-x xl:border-y-2 xl:border-secondary;

      a {
        @apply xl:text-secondary xl:border-transparent hover:xl:border-secondary;
      }

      a.current-menu-item {
        @apply xl:border-secondary;
      }
    }
  }
}

/* Footer Menu */
#footer {
  .current-menu-item > a,
  .current-page-item > a {
    @apply text-secondary;
  }

  .current-menu-item .current-menu-item > a {
    @apply text-white;
  }
}
