@reference "./index.css";

.interface-complementary-area__fill,
.interface-complementary-area {
  width: clamp(21.875rem, 50vw, 25rem) !important;
}

.acf-repeater .acf-row-handle {
  width: calc(var(--spacing) * 2.5) !important;
}

#tinymce {
  margin: calc(var(--spacing) * 4);

  p {
    margin-bottom: calc(var(--spacing) * 4);
  }

  ul,
  ol {
    margin-left: calc(var(--spacing) * 6);
  }

  ol {
    list-style-type: decimal;
  }

  ul {
    list-style-type: disc;
  }
}

.block-editor__container img {
  display: block;

  &.size-full,
  &.h-full {
    height: -webkit-fill-available !important;
  }
}

.editor--hide-overflow {
  overflow: hidden;
}

.editor-styles-wrapper .wp-block .wp-block-button__link {
  background-color: var(--color-primary);
}

.editor-styles-wrapper .wp-block.is-style-underlined .wp-block-button__link {
  background-color: transparent;
}

.is-root-container {
  background-color: var(--color-dark-blue);
  min-width: 1440px;
}

html .is-root-container :where(.wp-block) {
  max-width: 100%;
  font-family: var(--font-body);
}

.hxl {
  font-size: clamp(38px, 8vw, 120px) !important;
  line-height: 89% !important;
}

h1,
h2,
h3 {
  @apply !my-0;

  &.text-white {
    @apply !text-white;
  }
}

.simpleParallax,
.svg-left-parallax,
.svg-right-parallax {
  @apply hidden;
}

.wp-block-cover,
.wp-block-group {
  &.is-style-wrapper,
  &.is-style-wrapper-small,
  &.is-style-booking-wrapper {
    .wp-block-group__inner-container {
      @apply block gap-0;
    }
  }
}
