<section class="relative z-10 bg-primary text-white py-12 md:py-24 xl:py-32 {{ fields.items|length > 3 ? 'testimonials splide' : 'testimonial-list' }}">
	<div class="wrapper gap-8 text-center">
		<div class="flex flex-col gap-4 mb-12 md:mb-16 xl:mb-24">
			{% if fields.eyebrow %}
				<h6 class="h6 text-red">
					{{ fields.eyebrow }}
				</h6>
			{% endif %}
			{% if fields.heading %}
				<h2 class="h2">
					{{ fields.heading}}
				</h2>
			{% endif %}
			{% if fields.subheading %}
				<div class="wysiwyg w-full sm:text-lg lg:text-xl md:w-2/3 lg:w-1/2 text-center m-auto">
					{{ fields.subheading}}
				</div>
			{% endif %}
		</div>
	</div>

	{% if fields.items|length <= 3 %}
		<ul class="flex flex-col md:flex-row gap-6 wrapper bg-primary">
			{% for item in get_posts(fields.items) %}
				{% include 'blocks/testimonials/testimonial.twig' with { item: item } %}
			{% endfor %}
		</ul>
	{% else %}
		<div class="splide__track">
			<ul class="splide__list">
				{% for item in get_posts(fields.items) %}
					{% include 'blocks/testimonials/testimonial.twig' with { item: item, className: 'splide__slide' } %}
				{% endfor %}
			</ul>
		</div>

		<div class="wrapper flex justify-between items-center mt-8">
			<ul class="splide__pagination"></ul>

			<div class="splide__arrows relative text-right">
				<button class="rounded-full border border-secondary p-3 m-1 hover:bg-secondary transition-colors duration-300 splide__arrow splide__arrow--prev">
					<svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M20 11H7.83L13.42 5.41L12 4L4 12L12 20L13.41 18.59L7.83 13H20V11Z" fill="white"/>
					</svg>
				</button>
				<button class="rounded-full border border-secondary p-3 m-1 hover:bg-secondary transition-colors duration-300 splide__arrow splide__arrow--next">
					<svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M12 4L10.59 5.41L16.17 11H4V13H16.17L10.59 18.59L12 20L20 12L12 4Z" fill="white"/>
					</svg>
				</button>
			</div>
		</div>
	{% endif %}
</section>
